body{
	color: #000000;
}
#view_title{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: larger;
}

.topcoat-text-input,.topcoat-search-input{
	width: 100%;
	margin: 2px 0;
	min-height: 3rem;
}

.navbar, .navbar-button{
	width: 100%;
}

.topcoat-button--cta{
	min-height: 3rem;
}


#alert_count_btn{
	height: 28px;
	width: 28px;
	position: absolute;
	top: 11px;
	/* font-size: 20px; */
	/*left: 40px;*/
	right:-4px;
	/*  background-color: rgb(60, 36, 102);
	color: white;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	border: 1px solid;*/
	z-index: 1;
	color: #454545;
	background-color: #f00;
}

#alert_count { 
	margin-left: 10px;
	color: #FFF;
}

.footer-button{
	height: 30px;
	width: 30px;
	/*position: absolute;*/
	/* top: 6px; */
	/* right: 15px; */
	background-color: white;
	color: #454545;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	border: 1px solid;
	display: inline-block;
	margin: 10px;
}

#alert_count{
	position: relative;
	z-index: 4;
	top: -21px;
	left: -10px;
}

#btnAlert{
	z-index: 5;
}

.topcoat-icon-button--quiet:hover{
	background-color: transparent;
}

#filterDiv>div{
	/*background-color: #D7E4FF;*/
}

#filterDiv td {
	padding-bottom: 10px;
}

.spinner_index{
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.spinner_index img{
	margin: 5px !important;
}

#btnAlert{
	margin: 6px 0 0 0;
}

#btnAlert span{
	margin: 0 8px 0 0;
}

#content #owners ~ div#view_title{
	padding: 0;
}

#contracted ul li:nth-child(odd){
	background-color: #eee;
}

.topcoat-text-input:focus, .topcoat-text-input--large:focus{
	color: #000; 
}

.login_title{
	margin: 25px
}